.idea/
.docusaurus/
node_modules/
_output/

.npmrc
/podman-mcp-server
npm/podman-mcp-server/README.md
npm/podman-mcp-server/LICENSE
!npm/podman-mcp-server
podman-mcp-server-darwin-amd64
!npm/podman-mcp-server-darwin-amd64/
podman-mcp-server-darwin-arm64
!npm/podman-mcp-server-darwin-arm64
podman-mcp-server-linux-amd64
!npm/podman-mcp-server-linux-amd64
podman-mcp-server-linux-arm64
!npm/podman-mcp-server-linux-arm64
podman-mcp-server-windows-amd64.exe
podman-mcp-server-windows-arm64.exe

python/.venv/
python/build/
python/dist/
python/podman-mcp-server.egg-info/
!python/podman-mcp-server
